---
title: "Email Verification"
source_url: https://marketplace.gohighlevel.com/docs/ghl/email-isv/email-verification
version: v3
summary: "Documentation for Email ISV API"
---
Documentation for Email ISV API

[**📄️Email Verification** \\
Verify Email](https://marketplace.gohighlevel.com/docs/ghl/email-isv/verify-email)